<%- include('headers/header.ejs') %> 
<body>
    <a href="/">Go back</a>
    <div class="details_content">

        
        <div class="header">
            <h2><%= ani_details.title %> </h2>
            <img src="<%= ani_details.images.jpg.large_image_url%> " alt="<%= ani_details.title %> picture ">
            <p><%= ani_details.synopsis %> </p>

        </div>

        <div class="casts">
            <% for(let cast of cast_details) { %>
                <div class="cast">
                    <img src="<%= cast.character.images.jpg.image_url %>" alt="<%= cast.character.name %> picture">
                    <span> <%= cast.character.name %> - <%= cast.role %></span>
                </div>
                <!-- <ul>
                    <li><img src="<%= cast.character.images.webp.small_image_url %>" alt="<%= cast.character.name %> picture"> </li>
                    <span> <%= cast.character.name %> - <%= cast.role %></span>
                </ul> -->

            <% } %>

        </div>
    </div>
</body>
</html>