<%- include('headers/header.ejs') %> 
<body>
    <h1>Welcome to AniMage</h1>
    <form action="/search" method="post">
        <label for="search">Search: </label>
        <input type="text" name="search" id="search">
        <button type="submit">Go</button>
    </form>
    
    <div class="homepage">
        <div class="top_anime">
            <h1>Top Airing Anime</h1>
            <% for( let anime of animes ) { %>
                <ul>
                    <a href="/details/<%= anime.mal_id %> " target="0"><img src="<%= anime.images.jpg.image_url %> " alt="<%= anime.title %> picture "></a>
                    <li><%= anime.title %> </li>
                </ul>
            <% } %>
        </div>

        <div class="season_anime">
            <h1>Top Season Anime</h1>
            <% for( let season of seasonAnime ) { %>
                <ul>
                    <a href="/details/<%= season.mal_id %> " target="0"><img src="<%= season.images.jpg.image_url %> " alt="<%= season.title %> picture "></a>
                    <li><%= season.title %> </li>
                </ul>
            <% } %>
        </div>
        
    </div>
</body>
</html>